* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(back.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  position: fixed;
  bottom: 100;
  left: 143vh;
  list-style-type: none;
}
@media only screen and (max-width: 1000px) {
ul
{
  bottom: 96vh;
          left: 30vh;
 }    /*or anything you want to do*/
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent white;
}
@media only screen and (max-width: 1000px) {
ul li a
{
  padding: 5px 13px;
 }    /*or anything you want to do*/
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}

.title {
  color: #1b1818;
  position: absolute;
  top: 98%;
  right: -3%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
  letter-spacing: 3px;
}

.title h1 {
  font-size: 10px
}

.main {
  max width: 900px;
  margin: auto;
}

.BXL img {

position: fixed;
right: 170vh;
bottom: 100;
  width: 200px
}
@media only screen and (max-width: 1000px) {
.BXL img { position: static;
    width: 170px
 }    /*or anything you want to do*/
}

.main {
  max-width: 1500px
}

@keyframes identifier {
  0% {
    color: black;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
